@layer base {
  .search > button {
    background-color: var(--accent);
    color: #fff;
    border-radius: var(--radius);
    width: var(--btn-width);
    height: var(--btn-height);
    cursor: pointer;
  }

  .search > input {
    width: 70%;
    caret-color: var(--accent);
  }

  .search > input::placeholder {
    font-family: "Space Mono";
    font-size: var(--fs, 0.8125rem);
    line-height: 1.5625rem;
  }

  @media (width > 42.667rem) {
    .search > input::placeholder {
      --fs: 1.125rem;
    }
  }
}

@layer layout {
  .search {
    --radius: 0.9375rem;
    --mb: 1rem;

    background-color: var(--card-bg-color);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    border-radius: var(--radius);
    align-items: center;
    margin-bottom: var(--mb);
    padding: 1rem 0;

    display: flex;
    align-items: center;
  }

  .search > * {
    margin-left: var(--ml, 1rem);
    margin-right: var(--mr, none);
  }

  .search > input {
    --ml: 0.5rem;
    --mr: 0.5rem;
  }

  .search > button {
    --radius: 0.625rem;
    --ml: auto;
    --mr: 0.4rem;
    --btn-width: 5.25rem;
    --btn-height: 2.875rem;
  }
}
