.app {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 45.625rem;
}

.title {
  margin-bottom: 2.25rem;
  flex-direction: row;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themeToggle {
  border: 1px solid black;
  background: none;
  color: #697c9a;
  display: flex;
  justify-content: center;
  height: 1.25rem;
  gap: 1rem;
}

.themeToggle:hover {
  color: #222731;
}

.search {
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: 1px solid black;
  height: 4.3125rem;
  display: flex;
}

.searchIcon {
  border: 1px solid black;
  margin: 1.44rem 1.5rem 1.38rem 2rem;
}

.search input {
  border: none;
  outline: none;
  caret-color: #0079ff;
  width: 15.875rem;
}

.search button {
  background-color: #0079ff;
  color: #fff;
  margin: 0.59rem 0.63rem 0.59rem auto;
  border: none;
  border-radius: 0.625rem;
  width: 6.625rem;
}

.search button:hover {
  background-color: #60abff;
}

main {
  background: #fff;
  display: grid;
  grid-template-columns: 20% 80%;
}

main img {
  border-radius: 50%;
  width: 7.3125rem;
  height: 7.3125rem;
}

main header {
  margin-bottom: 1.25rem;
}

main header div {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section {
  margin-bottom: 2rem;
}

.stats {
  margin-bottom: 2.31rem;
  background-color: #f6f8ff;
  border-radius: 0.625rem;
  height: 5.3125rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
