:root {
}

body {
    --background-color-light: #F6F8FF;
    --color: #222731;
    
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
    
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
}

body.dark {
    --background-color: #141D2F;
    --color: #FFF;
}

h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 38px;
}

h2 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
}

h3 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
}