:root[data-theme="light"] {
  --bg-color: hsl(227, 100%, 98%); /* #F6F8FF */
  --text-color: hsl(217, 35%, 45%); /* #4B6A9B */
  --heading-text-color: hsl(217, 21%, 21%); /* #2B3442 */
  --card-bg-color: hsl(0, 0%, 100%); /* #FEFEFE */
}

:root[data-theme="dark"] {
  --bg-color: hsl(220, 40%, 13%);
  --card-bg-color: hsl(222, 41%, 20%);
  --heading-text-color: hsl(0, 0%, 100%);
}

:root {
  --accent: hsl(212, 100%, 50%); /* #0079FF */

  --card-radius: 0.9375rem;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background: none;
  }

  ul {
    list-style-type: none;
  }

  input {
    all: unset;
  }
}

@layer base {
  html {
    font-family: "Space Mono", monospace;
  }

  body {
    background: var(--bg-color);
  }

  h1,
  h2,
  h3,
  h4,
  p {
    font-size: var("--size");
    font-style: var("--style", normal);
    font-weight: var("--weight", 400);
    line-height: var("--line-height", normal);
  }

  h1 {
    --size: 1.625rem;
    --weight: 700;
  }

  h2 {
    --size: 1.375rem;
    --weight: 700;
  }

  h3 {
    --size: 1rem;
  }

  h4 {
    --size: 0.8125rem;
  }

  p {
    --size: 0.9375rem;
    --line-height: 1.5625rem;
  }
}
